@model IEnumerable<Lingva.MVC.Dto.GroupDTO>
@{
    ViewData["Title"] = "Group's List";
}
<!DOCTYPE html>

<h3>Groups</h3>
<table class="table-condensed">
    <tr>
        <td>Title</td>
        <td></td>
    </tr>
    @foreach (var group in Model)
    {
        <tr>
            <td align="left">@group.Title</td>
            <td align="right"><a href="~/groups/Update/@group.Id">Update</a></td>
        </tr>
    }
</table>